.cards {
  padding: 34px 0 40px;
  border-bottom: 1px solid #545454;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(413px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}
