.card {
  max-width: 100%;
}
.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}
.card__footer {
  padding: 12px 0;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  align-items: center;
  background-color: #fcf5e5;
}
.card__title {
  font-family: Poppins, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
}
.card__like-button {
  width: 21px;
  height: 18px;
  background: transparent url("../images/heart.svg") center/cover no-repeat;
  border: none;
  cursor: pointer;
  padding: 0;
  justify-self: end;
  opacity: 0.4;
}
.card__like-button:hover {
  opacity: 1;
}
.card:hover {
  cursor: pointer;
}
@media screen and (max-width: 672px) {
  .card__image {
    height: 282px;
  }
}
